html, body{
	height: 100%;
}

div.header {
	width: auto;
	min-height: 10%;
	background-color: #007c41;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	color: #fff;
	text-align: center;
	border-bottom: 2px solid #ffdb05;
}

div.footer {
	width: auto;
	min-height: 10%;
	background-color: #007c41;
	color: #fff;
	text-align: center;
	padding: 15px;
	border-top: 2px solid #ffdb05;
}

div#loginField{
	margin: 0px;
	height: 80%;
	text-align: center;
}

h3#loginDisplay{
	margin-top: 25px;
	padding-bottom: 5px;
}

form#loginForm{
	width: 400px;
	margin-right: auto;
	margin-left: auto;
}

div#userPageField{
	margin: 0px;
	height: 80%;
}