/**
	presSubmissions.css

	This file contains all the css that is manipulating the 
	presSubmissions.php page.

*/

div#submissionPageField{
	margin: 0px;
	height: 80%;
	overflow: auto;
}

div#subHead{
	padding-top: 15px;
	padding-left: 5px;
	text-align: left;
}

div#editSubs{
	padding-top: 0px;
	padding-right: 0px;
}

th.format{
  padding: 10px;
}

td.format{
  padding: 20px;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: center;
  background-color: #fff;
}

td.changeDisplay{
  padding: 20px;
  text-align: left;
}

table#subTable{
  padding: 0px;
}

button#editButton{
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 12px;
}

td.abstractTitle{
	text-align: center;
	background-color: #fff;
}

td.hidden{
	display: none;
}