/**
	registration.css

	This file contains all the css that is manipulating the 
	registration.php page.

*/

div#submitField{
	margin: 0px;
	height: 80%;
	text-align: center;
}

h3#registerDisplay{
	margin-top: 25px;
	padding-bottom: 5px;
}

form#submitForm{
	width: 400px;
	margin-right: auto;
	margin-left: auto;
}