/**
	scheduleSetup.css

	This file contains all the css that is manipulating the 
	scheduleSetup.php page.

*/

div#scheduleSetupPageField{
	margin: 0px;
	height: 85%;
}

div#scheduleSetup{
	height: 500px;
	overflow: auto;
}
div#scheduleSubmit{
	position: absolute;
    transition: .5s ease;
    top: 50%;
    left: 50%;
}
