/**
	userpage.css

	This file contains all the css that is manipulating the 
	userpage.php page.

*/

div#userPageField{
	margin: 0px;
	height: 80%;
	overflow: auto; 
}

div.schedule{
	padding: 5px
}

div#importantDisplay{
	margin-top: 5px;
	padding: 5px;	
}

h4#usersName{
	text-align: right;
}
